APP_USERNAME=cleiton.carvalho@automasoluct.com.br
APP_PASSWORD=troque-esta-senha
SESSION_SECRET=troque-essa-string-local
PUBLIC_BASE_URL=http://localhost:8000
CONTACT_EMAIL=contato@automasoluct.com.br
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.6
EVOLUTION_API_BASE_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
WHATSAPP_VALIDATION_TIMEOUT_SECONDS=6

POSTGRES_DB=gmapscrap
POSTGRES_USER=gmapscrap
POSTGRES_PASSWORD=coloque-a-senha-do-postgres-da-vps
REMOTE_DB_LOCAL_PORT=5433
